
.notion-collection-item a {
    border-radius: 1px !important;
    background: rgba(127,127,127,0.1) !important;
    box-shadow: none !important;
    border: 1px solid rgba(127,127,127,0.25);
}

.notion-collection-item a .notion-record-icon.notranslate {
    display: none !important;
}

/* Bold Light Gray */
[style*="color: rgb(50, 48, 44); background: rgba(227, 226, 224, 0.5);"] {
    color: hsl(0, 0%, 30%) !important;
    background: hsl(0, 0%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(0, 0%, 80%) !important;
    border-radius: 1px !important;
}

/* Bold Gray */
[style*="color: rgb(50, 48, 44); background: rgb(227, 226, 224);"] {
    color: hsl(0, 0%, 30%) !important;
    background: hsl(0, 0%, 70%) !important;
    background: transparent !important;
    border: 1px solid hsl(0, 0%, 70%) !important;
    border-radius: 1px !important;
}

/* Bold Brown */
[style*="color: rgb(68, 42, 30); background: rgb(238, 224, 218);"] {
    color: hsl(30, 44%, 30%) !important;
    background: hsl(30, 44%, 70%) !important;
    background: transparent !important;
    border: 1px solid hsl(30, 44%, 70%) !important;
    border-radius: 1px !important;
}

/* Bold Orange */
[style*="color: rgb(73, 41, 14); background: rgb(250, 222, 201);"] {
    color: hsl(26, 100%, 30%) !important;
    background: hsl(26, 100%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(26, 100%, 80%) !important;
    border-radius: 1px !important;
}

/* Bold Yellow */
[style*="color: rgb(64, 44, 27); background: rgb(253, 236, 200);"] {
    color: hsl(60, 100%, 25%) !important;
    background: hsl(60, 100%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(60, 100%, 80%) !important;
    border-radius: 1px !important;
}

/* Bold Green */
[style*="color: rgb(28, 56, 41); background: rgb(219, 237, 219);"] {
    color: hsl(120, 60%, 30%) !important;
    background: hsl(120, 60%, 70%) !important;
    background: transparent !important;
    border: 1px solid hsl(120, 60%, 70%) !important;
    border-radius: 1px !important;
}

/* Bold Blue */
[style*="color: rgb(24, 51, 71); background: rgb(211, 229, 239);"] {
    color: hsl(210, 100%, 30%) !important;
    background: hsl(210, 100%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(210, 100%, 80%) !important;
    border-radius: 1px !important;
}

/* Bold Purple */
[style*="color: rgb(65, 36, 84); background: rgb(232, 222, 238);"] {
    color: hsl(280, 60%, 30%) !important;
    background: hsl(280, 60%, 70%) !important;
    background: transparent !important;
    border: 1px solid hsl(280, 60%, 70%) !important;
    border-radius: 1px !important;
}

/* Bold Pink */
[style*="color: rgb(76, 35, 55); background: rgb(245, 224, 233);"] {
    color: hsl(340, 80%, 30%) !important;
    background: hsl(340, 80%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(340, 80%, 80%) !important;
    border-radius: 1px !important;
}

/* Bold Red */
[style*="color: rgb(93, 23, 21); background: rgb(255, 226, 221);"] {
    color: hsl(0, 80%, 30%) !important;
    background: hsl(0, 80%, 80%) !important;
    background: transparent !important;
    border: 1px solid hsl(0, 80%, 80%) !important;
    border-radius: 1px !important;
}
